// .container
// {
//     max-width: 90%;
//     margin: 0 auto;
// }
// .description
// {
//     display: none;
// }
// .content:hover + .description
// {
//     display: block;
// }
// p:first-child
// {
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// }
// q:lang(no)
// {
//     quotes:" - " " - ";
// }
// p::after
// {
//     content: url("../images/food.jpg");
//     width:50px;
//     height:50px;   
// }
// ::marker
// {
//     color:red;
// }
// ::selection
// {
//     color:red;
//     background-color: yellowgreen;
// }
// #container p::first-letter
// {
//     color:red;
//     font-size: 100px;
// }
// #container p::first-line
// {
//     color:violet;
//     font-size: 50px;
// }
// #content
// {
//     position: relative;
//     color:yellow;
//     &::first-letter
//     {
//         font-size: 100px;
//         color:green;
//     }
// }
// #header
// {
//     color:rgb(23, 23, 23);
//     background-color: cadetblue;
//     padding: 10px;
//     text-align: center;
//     position: relative;
//     top:0;
//     width:100%;
// }
// .box
// {
//     position:absolute;
//     font-family: Arial, Helvetica, sans-serif;
//     top:400px;
//     right:650px;
// }
// .sticky {
//   position: sticky;
//   top: 0;
//   background: coral;
//   padding: 10px;
//   font-size: 24px;
// }
// img
// {
//   width:100%;
//   height:100%;
//   // opacity: 0.1;
// }
// .hero-content-name
// {
//   position: absolute;
//   top:20px;
//   right:30px;
//   color:rgb(254, 245, 245);
// }
// .veg-container
// {
//   position: relative;
// }
.container
{
  position: relative;
}
.box-1
{
  position: absolute;
  top:20px;
  z-index: 1;
  background-color: red;
  height:1200px;
  width:300px;
}
.box-2
{
  position: absolute;
  top:20px;
  z-index: 2;
  background-color: blue;
  height:600px;
  width:300px;
}
.box-3
{
  position: absolute;
  top:20px;
  z-index: 3;
  background-color: violet;
  height:300px;
  width:400px;
}
.petsy-container
{
  background-color: #1F373D;
  width:100%;
  position:relative;
  height:1200px;
}
.petsy-header-logo
{
  top:22px;
  width:50px;
  height:50px;
  left:80px;
  opacity: 60%;
  bottom:410px;
  position:absolute;
}
.petsy-header-content
{
  color:whitesmoke;
  display:flex;
  justify-content: space-between;
  padding: 50px 120px;
  margin-bottom: 150px;
}
ul li  
{
   list-style-type: none;
}
ul li a 
{
   text-decoration: none;
   color:white;
}
.petsy-header-links
{
   display: flex;
   gap:70px;
}
.petsy-header-side-links
{
   display: flex;
   gap:20px;
}
.petsy-header-logo-links
{
  position: relative;
  top:-10px;
}
.gray-heading
{
  color:gray;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}
.pet-heading
{
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}
.pet-heading-place
{
  font-size: 70px;
  color:whitesmoke;
}
.pet-heading-title
{
  font-size: 70px;
  color:whitesmoke;
}

.Explore-now
{
  background-color: #d27c61;
  padding: 15px;
  border:none;
  color:white;
  font-weight: bolder;
  width:160px;
  font-size: medium;
}
.petsy-content-container
{
  padding: 0 120px;
  position: relative;
}
.about-content
{
  color:white;
  margin: 40px 0;
  width:500px;
}
.puppy-img
{
  width:400px;
  height:400px;
  border-radius: 50%;
  position: absolute;
  right:100px;
  transform: scale(1.3);
}
.banner-container
{
  margin: 150px 100px;
  background-color: #d27c61;
  color:white;
  padding:50px;
  display: flex;
  gap:20px;
  justify-content:space-between;
  font-weight: bold;
  position: absolute;
  bottom:-100px;
  z-index: 2;
  width:1200px;  
}
.banner-container button
{
  color: #fff;
  border:none;
  background-color:black;
  width:170px;
  font-size: larger;
  text-transform: uppercase;
  margin: 0 20px;
}
.banner-container-offer
{
  font-size: 20px;
  color:whitesmoke;
}
.banner-container-demo
{
  color:whitesmoke;
}
.banner-container-content
{
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 0 60px;
}
.categories
{
  height:100%;
  width:100%;
  background-color: rgb(21, 20, 20);
  position: absolute;
  top:1050px;
  z-index: 1;
}
.categories-title
{
  color:#C2E6ED;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left:680px;
  padding-top:200px;
  font-weight: bolder;
}
.categories-content-1
{
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
}
.categories-content-2
{
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
}
.categories-content
{
  margin-bottom:200px;
  margin-left: 50px;
  color:#7B8E91;
  font-weight: bold;
}
.card
{
  color:#7B8E91;
  padding: 20px;
  background-color: rgb(19, 18, 18);
  position: relative;
  z-index: 2;
  top:600px;
  border:1px solid white;
  border-radius: 20px;
  box-shadow: 2px 4px 10px 0 rgb(111, 106, 106);
}
.card-container
{
  padding:100px;
  display: flex;
  gap:40px;
  flex-wrap: wrap;
}

.card h4
{
  text-align: center;
}
.card img
{
  max-width: 200px;
  max-height: 200px;
}
.modal-content
{
  width:350px;
  height:300px;
  background-color: white;
  color:black;
  padding: 20px;
  border-radius: 30px;
  top:200px;
  position: absolute;
  left:600px;
  border:1px solid black;
}
.form-group
{
  display: flex;
  align-items: center;
  gap:10px;
  margin-bottom: 40px;
}
.form-group label
{
  width:120px;
}
.form-group input
{
  flex:1;
}
.form-group-image
{
  margin:0 72px; 
}
.form-group-buttons
{
    display: flex;
    gap:20px;
    justify-content: center;
}
.action-buttons
{
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;
}
.delete-button
{
  padding:10px;
  background-color: red;
  border:none;
  border-radius: 10px;
  color:white;
}
.edit-button
{
   padding:10px;
  background-color: blue;
  border:none;
  border-radius: 10px;
  color:white;
}